# services:
#   sql:
#     image: mcr.microsoft.com/mssql/server:2022-latest
#     environment:
#       MSSQL_SA_PASSWORD: "Password@1"
#       ACCEPT_EULA: "Y"
#     ports:
#       - "1433:1433"
#     volumes:
#       - sql_data:/var/opt/mssql
#     platform: linux/amd64
# volumes:
#   sql_data:


version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:80"
    volumes:
      - ./out:/app
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
