.react-calendar {
  width: 100%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:hover {
  background: #ffffa9;
}
.react-calendar__tile--active {
  background: #646cff;
  color: white;
}
.react-calendar__tile--active:hover {
  background: #535bf2;
}
